<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reading.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <title>Reading Game</title>
  </head>
  <body>
    <section>
      <div class="overlay"></div>
      <div class="container">
        <div class="question" data-write="Chosse The Correct Answer"></div>
        <div class="word"></div>
        <div class="choices"></div>
        <button class="submit">Submit</button>
      </div>
    </section>
    <script src="/js/reading.js"></script>
  </body>
</html>
