<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/writing.css" />
    <link rel="stylesheet" href="../Css/normalize.css" />
    <title>Writting Quiz</title>
  </head>
  <body>
    <section>
      <div class="overlay"></div>
      <div class="container">
        <h1 class="title">Write The Word In Arabic</h1>
        <div class="word"></div>
        <div class="solution spans"></div>
        <hr />
        <div class="letters"></div>
        <button class="submit">Submit</button>
      </div>
    </section>
    <audio
      id="wrong"
      src="../Sounds/ES_Multimedia Musical 1 - SFX Producer.mp3"
    ></audio>
    <script src="../Js/writing.js"></script>
  </body>
</html>
